
/* Correct position for Polished logo w/ dashboardHeaderPlus */
.logo {
  padding-left: 10px !important;
  padding-right: 10px !important;
  /* Hides top bar (& logo) when screen becomes too narrow (i.e. mobile) */
  position: absolute;
}

.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color: #f9fafc !important;
}

.skin-black .sidebar-menu>li.active>a, .skin-black .sidebar-menu>li:hover>a {
  color: #000 !important;
  background: #f4f4f5 !important;
  border-left-color: #fff !important;
}

.skin-black .sidebar a {
    color: #444 !important;
}
